@model Kylaline

@{
    ViewData["Title"] = "Külalise detailid";
}

<h1>Külalise detailid</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nimi</dt>
        <dd class="col-sm-10">@Model.Nimi</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Kutse</dt>
        <dd class="col-sm-10">@(Model.OnKutse ? "Jah" : "Ei")</dd>

        <dt class="col-sm-2">Püha</dt>
        <dd class="col-sm-10">@Model.Pyha?.Nimetus</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Muuda</a> |
    <a asp-action="Index">Tagasi</a>
</div>