@page
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["Identity_PersonalData_Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["Identity_PersonalData_Description"]</p>
        <p>
            <strong>@Localizer["Identity_PersonalData_DeletePermanentWarning"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}